.App {
  text-align: center;
}

.neg {
  color: darkred;
  background: pink;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}

.pos {
  color: darkgreen;
  background: mintcream;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}

.customerDetails {
  background-color: rgb(245, 229, 199);
  border-style: solid;
  width: 30%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
}


td, th {
  border: 1px solid;
  padding: 6px;
}

  tr:nth-child(even){background-color: #f2f2f2;}

td:last-child {
  white-space: nowrap;
}

th {

  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color:antiquewhite;

}

 #edit, #addNew, #loginWindow {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

#edit h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-row input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-row label {
  outline: none;
  text-align: left;

}

.form-row {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

#addNew {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

  font-size: 16px;  /* lisää tämä */
  font-family: Arial, sans-serif; /* valinnainen */
}


#userTable {
  margin: 40px auto;
  width: 60%;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: white;
}

#productTable {
  margin: 30px auto;
  width: 95%;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: white;
}


button, .nappi {
  margin: 5px;
  padding: 8px;
  border: 2px solid;   /* näkyvä reuna */
  border-radius: 6px;       /* pyöristetyt kulmat */
  font-size: 15px;
  background-color: rgb(240, 211, 175);
  color: white;
  cursor: pointer;
}
button:hover, .nappi:hover {
  background-color: burlywood;
}


.posts {
  margin: auto;
  background-color: lavender;
  max-width: 70%;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: darkgrey;
  margin-bottom: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
